@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> @ViewData["By"]</p>
<p>Professor @ViewData["Professor"]</p>


<address>
    <strong>More information about him or the course: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>