@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Giulia Ramos<br />
    Itapevi, São Paulo, Brazil<br />

</address>

<address>
    <strong>Email:</strong> <a href="mailto:giulia.rmiguel011@gmail.com">giulia.rmiguel@gmail.com</a><br />
    <strong>Linkend In:</strong> <a href="http://linkedin.com/in/giulia-ramos-050b911b8">www.linkedin.com/in/giulia-ramos-050b911b8</a>
</address>
